#{{ansible_managed}}
input {
    beats {
        port => "5044"
    }
}

filter {
#/var/log/auth.log
  if [type] == "auth.log" {
    grok {
      match => {
        "message" => '%{SYSLOGTIMESTAMP:system.auth.timestamp} %{SYSLOGHOST:system.auth.hostname} sshd(?:\[%{POSINT:system.auth.pid}\])?: %{DATA:system.auth.ssh.event} %{DATA:system.auth.ssh.method} for (invalid user )?%{DATA:system.auth.user} from %{IPORHOST:system.auth.ip} port %{NUMBER:system.auth.port} ssh2(: %{GREEDYDATA:system.auth.ssh.signature})?'
      }
    }
  }
}

output {
    elasticsearch {
        hosts => [ "{{ elk_server }}:9200" ]
        index => "logstash-%{+YYYY.MM.dd}"
    }
}
